VITE_FIREBASE_API_KEY=AIzaSyCYG_3phjp7UG0P9DcBodn7cSz2uuhZJY0
VITE_FIREBASE_AUTH_DOMAIN=proposeme-f020e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=proposeme-f020e
VITE_FIREBASE_STORAGE_BUCKET=proposeme-f020e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=283433115018
VITE_FIREBASE_APP_ID=1:283433115018:web:50a8190b546915211d7c73

VITE_API_BASE_URL=http://localhost:8000